<h3 class="db-info-page-title">DB info.</h3>
<div class="row margin-top-default panel-first-row">
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class>Total Keys</div>
                <div id="total-keys" class="text-primary"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>Connections</div>
                <div id="connection-info" class="text-primary"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>Used Memory</div>
                <div id="memory-info" class="text-primary"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default panel-second-row">
    <div class="panel-body">
        <div>Endpoint</div>
        <div id="endpoint-info" class="text-primary"></div>
    </div>
</div>