<div class="margin-top-sm section-value">
    <!--<div class="btn-save-hash">
        <button class="btn btn-primary btn-sm" type="button">Save</button>
    </div>-->
    <div class="margin-top-sm">
        <label>Field</label>
        <div class="btn-value-mgmt">
            <span class="dropdown">
            <button class="btn btn-default btn-sm btn-change-value-view dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plain Text<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-hash-field">
                <li><a href="#">Plain Text</a></li>
                <li><a href="#">JSON</a></li>
            </ul>
            </span>

        </div>
    </div>
    <div class="margin-top-sm">
        <textarea class="form-control textarea-hash-field" rows="7" disabled></textarea>
    </div>

    <div class="margin-top-sm">
        <label>Value</label>
        <div class="btn-value-mgmt">
            <span class="dropdown">
            <button class="btn btn-default btn-sm btn-change-value-view dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plain Text<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-hash-value">
                <li><a href="#">Plain Text</a></li>
                <li><a href="#">JSON</a></li>
            </ul>
            </span>
        </div>
    </div>
    <div class="margin-top-sm">
        <textarea class="form-control textarea-hash-value" rows="11" disabled></textarea>
    </div>
</div>