<div class="margin-top-sm section-value">
    <!--Can be change to Key/Value-->
    <div>
        <label>Value</label>
        <div class="btn-value-mgmt">
            <span class="dropdown">
            <button class="btn btn-default btn-sm btn-change-value-view dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plain Text<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Plain Text</a></li>
                <li><a href="#">JSON</a></li>
            </ul>
            </span>
            <!--<button class="btn btn-primary btn-sm" type="button">Save</button>-->
        </div>
    </div>
    <div class="margin-top-sm">
        <textarea class="form-control textarea-value" rows="18" disabled></textarea>
    </div>

    <div class="input-group margin-top-sm input-group-score-mgmt">
        <span class="input-group-addon">Score</span>
        <input type="text" class="form-control" value="0" disabled>
    </div>

</div>